@using Microsoft.AspNetCore.Http
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

<!DOCTYPE html>
<html lang="en">
<head>
    <script>
        function ChangePasswordAdmin() {
            var Data =
            {
                UserName: $("#UserName").val(),
                Password: $("#Password").val(),
                NewPassword: $("#NewPassword").val(),
            }
            $.ajax({
                url: '@Url.Action("ChangePasswordAdmin", "Home")',
                method: "POST",
                dataType: 'json',
                contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
                data: Data,
            });
        }
        
    </script>
</head>
<body class="fix-menu">
    <form class="md-float-material">
        <div class="auth-box">
            <div class="row m-b-20">
                <div class="col-md-12">
                    <h3 class="text-center txt-primary">Change Your Password</h3>
                </div>
            </div>
            <hr />
            <div class="input-group">
                <input type="text" value="@HttpContextAccessor.HttpContext.Session.GetString("Admin")" class="form-control" name="UserName" id="UserName" required>
                <span class="md-line"></span>
            </div>
            <div class="input-group">
                <input type="password" placeholder="Your Password" class="form-control" name="Password" id="Password" required>
                <span class="md-line"></span>
            </div>
            <div class="input-group">
                <input type="password" placeholder="Your New Password" class="form-control" name="NewPassword" id="NewPassword" required>
                <span class="md-line"></span>
            </div>

            <div class="row m-t-30">
                <div class="col-md-12">
                    <button type="button" onclick="ChangePasswordAdmin()" class="btn btn-primary btn-md btn-block waves-effect text-center m-b-20">SUBMIT</button>
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="col-md-10">
                    <p class="text-inverse text-left m-b-0">Thank you and enjoy our website.</p>
                </div>
            </div>
        </div>
    </form>
    <!-- end of form -->
</body>
</html>