@model List<Library_Management_System.Models.DTO.UserRegistrationModel>

<!DOCTYPE html>
<html lang="en">
<head>
    <script>
        function RegistrationLibrarian() {
            debugger
            var Data = {};
            Data.Username = $("#Username").val();
            Data.Email = $("#Email").val();
            Data.phonenumber = $("#phonenumber").val();
            Data.password = $("#password").val();
            Data.Library_Id = $("#Library_Id").val();
            $.ajax({
                url: "/Home/Registrationlibrarian/",
                method: "POST",
                dataType: 'json',
                contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
                data: Data,
            });
        }
    </script>
</head>

<body class="fix-menu">
    <form class="md-float-material">
        <div class="auth-box">
            <div class="row m-b-20">
                <div class="col-md-12">
                    <h3 class="text-center txt-primary">Registration for Librarian</h3>
                </div>
            </div>
            <hr />
            <div class="input-group">
                <select name="Library_Id" id="Library_Id" class="form-control" required>
                    <option value="">Select Library </option>
                    @foreach (var item in ViewBag.List)
                    {
                        <option value="@item.Library_Id">
                            @item.Library_Name
                        </option>

                    }
                </select>
            </div>
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Choose Username" name="Username" id="Username">
                <span class="md-line"></span>
            </div>
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Your Email Address" name="Email" id="Email">
                <span class="md-line"></span>
            </div>
            <div class="input-group">
                <input type="tel" class="form-control" placeholder="Your Phonenumber" name="Phonenumber" id="phonenumber">
                <span class="md-line"></span>
            </div>
            <div class="input-group">
                <input type="password" class="form-control" placeholder="Confirm Password" name="Password" id="password">
                <span class="md-line"></span>
            </div>

            <div class="row m-t-30">
                <div class="col-md-12">
                    <button type="button" onclick="RegistrationLibrarian()" class="btn btn-primary btn-md btn-block waves-effect text-center m-b-20">REGISTER</button>
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="col-md-10">
                    <p class="text-inverse text-left m-b-0">Thank you and enjoy our website.</p>
                </div>
            </div>
        </div>
    </form>
    <!-- end of form -->
</body>
</html>